.Pagination {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px solid $colorGrey--dark;
  padding-top: 1rem;

  &-link {
    @include text($colorBlack--light, 0.875rem, $normal, normal);
    text-decoration: none;
    padding: 0.25rem 0.5rem;

    &:focus,
    &:hover,
    &:active {
      text-decoration: underline;
    }

    &.is-active {
      border: 1px solid $colorBlack--light;
    }
  }

  li {
    &:last-child {
      a {
        font-weight: $bold;
      }
    }
  }
}
