.Pagination {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px solid color(grey--dark);
  padding-top: 1rem;

  &-link {
    @include text(color(black--lighter), 0.875rem, $normal, normal);
    text-decoration: none;
    padding: 0.25rem 0.5rem;

    &:active,
    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &.is-active {
      border: 1px solid color(black--lighter);
    }
  }

  li {
    &:last-child {
      a {
        font-weight: $bold;
      }
    }
  }
}
