html {
  font-family: $Fira;
  font-size: 16px;
}

h1 {
  @include text($colorBlack, 2rem, $bold, 1.875rem);
  text-transform: uppercase;
  margin-top: 3.375rem;

  @include respondTo(md) {
    font-size: 1.75rem;
    line-height: normal;
    margin-top: 2rem;
  }
}

p {
  @include text($colorBlack--light, 1rem, $normal, normal);
  margin-top: 1em;
}
