$cols: 12;

.Grid {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -1rem;

  &-col {
    position: relative;
    padding: 0 1rem;
  }

  @for $i from 1 through $cols {
    .Grid-col--#{$i} {
      flex: 0 0 percentage($i / $cols);
      max-width: percentage($i / $cols);
    }
  }

  @include respondTo(md) {
    @for $i from 1 through $cols {
      .Grid-col--md-#{$i} {
        flex: 0 0 percentage($i / $cols);
        max-width: percentage($i / $cols);
      }
    }
  }

  @include respondTo(sm) {
    @for $i from 1 through $cols {
      .Grid-col--sm-#{$i} {
        flex: 0 0 percentage($i / $cols);
        max-width: percentage($i / $cols);
      }
    }
  }

  @include respondTo(xs) {
    @for $i from 1 through $cols {
      .Grid-col--xs-#{$i} {
        flex: 0 0 percentage($i / $cols);
        max-width: percentage($i / $cols);
      }
    }
  }
}
